html{
    font-size:62.5%;
    box-sizing:border-box;
}
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing:inherit;
    text-decoration:none;
    list-style:none;
}

:root{
    --white-color:rgb(211, 205, 205);
    --bg-color: rgb(52, 58, 64);
    --box-shadow:rgb(21, 27, 30);
}

body{
    min-height:100vh;
    background-color:var(--bg-color);
    
}
.container{
    min-height:100vh;
    padding:2em;
}
.hero{
    position: absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;

    z-index:-1;

    background-image:linear-gradient(
        rgba(10, 21, 23, 0.7),
        rgba(24, 48, 66, 0.7)
    ),url("/Images/hero.jpg");

    background-size: cover;
    background-position:center,center;
    
    padding-inline:2em;
    transition:all 0.5s;
   
}

.heroChange{
    filter: blur(10px);
    transition:all 0.5s;
}
.heroText{
    min-height:calc(96vh - 34px);
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
h1{
    color:var(--white-color);
    font-size:6rem;
    text-align:center;


    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing:8px;
}
.mainHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#logo{
    color:var(--white-color);
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
    font-weight:900;
    font-style: italic;

    animation:logoRotation 1s linear infinite alternate;

    
}

@keyframes logoRotation{
    to{
        transform:rotateY(120deg);
    }
}
.hamburgerMenu{
    cursor: pointer;
}
.hamburger{
    width:3.5em;
    height:0.5em;
    border-radius:20px;
    background-color:var(--white-color);
    transition:all 0.5s;
}
.hamburger:not(:last-child){
    margin-bottom:0.5em;
}
.hamburger:nth-child(2){
    width:1.50em;
    transform:translateX(1em);
}


.hamburgerMenuChange > .hamburger:nth-child(1){
    transform:translateY(1em)rotate(-45deg);
}
.hamburgerMenuChange > .hamburger:nth-child(2){
    width:3.5em;
    transform:translateX(0)rotate(45deg);
    transition-delay:0.5s;
}
.hamburgerMenuChange > .hamburger:nth-child(3){
    transform:translateY(-1em)rotate(-45deg); 
    transition-delay:0.6s;
}

.navBar{
    position:fixed;
    top:6em;
    width:calc(100% - 4em);
    text-align:center;
    height:0em;
    overflow: hidden;
    transition:all 1s;
}

.navBarChange{
    height:calc(100vh - 34px);
}


.menuList > li{
    color:var(--white-color);
    font-family:Arial, Helvetica, sans-serif;
    padding-block:2em;
    font-size:2rem;
    font-weight:900;

    border-top:2px solid rgb(239, 233, 233);
}

.dishes li{
    padding-block: 1em;
}



/* main section */
main{
    margin-top:2em;
    color:var(--white-color);
    font-family:Arial, Helvetica, sans-serif;
}

main h2{
    font-size:4rem;
}
.about p{
    font-size:2rem;
    margin-block:1em;
    
}
.about p:nth-of-type(1)::first-letter{
    font-size:4rem;
    font-weight:800;
    margin-right:4px;
}
.dishe h2{
    margin-block:1em;
}

.menu{
    display:flex;
    justify-content:center;
    align-items:center;

    flex-direction:column;
}


.card{
    width:100%;
    
    height:35em;
    
    margin-block:2em;
    
    border-radius:30px;
    box-shadow:inset 15px 15px 30px;
    
    position: relative;
}

.card img{
    width:90%;
    height:85%;
   
    position: absolute;
    top:5%;
    left:5%;
   
    object-fit:cover;
    border-radius:15px;
    
    transition:all 0.15s;
    
}
.card img:hover{
    opacity:0.3;
}

.card > figcaption > h4{
    font-size:1.5rem;
    color:var(--white-color);

    position:absolute;
    bottom:2.5%;
    left:5%;
}






footer{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    font-family:Arial, Helvetica, sans-serif;
    /* width:100%; */
    
}
hr{
    width:100%;
    border:0.4px solid gray;
}
.contact{
    padding-block:2em;
}
.contact h4{
    color:var(--white-color);
    font-size:3rem;
    letter-spacing:5px;
    padding-block:0.3em;
}

.contact a{
    color:rosybrown;
    font-size:1.4rem;
}

.contact p, .right p{
    color:var(--white-color);
    font-size:1.4rem;
}

.right {
    padding:1em;
}



@media only screen and (min-width:758px){
    header,main{
        padding-inline:6em;
    }
    h1{
        font-size:8em;
    }
    .navBar{
        
        width:calc(100% - 12em);
        
    }
    .menu {
        display:flex;
        justify-content:space-evenly;
        flex-direction:row; 
        
        gap:2em;
        
    }
}

@media only screen and (min-width:992px){
    body{
        background-color:var(--bg-color);
    }
    header,main{
        padding-inline:10em;
      
    }
    .hero{
        width:55%;
        height:45em;
        left:45%;
        top:0;
        border:none;

        
    background-image:linear-gradient(
        90deg,
        hsl(214, 10%, 23%,1),
        hsla(211, 10%, 23%, 0.05)
    ),url("/Images/hero.jpg");
    outline:none;
    }
    h1{
        font-size:8em;
        position: relative;
        right:100%;
        letter-spacing:6px;
        width:100%;
    }

    .hamburgerMenu{
        display:none;
    }

     footer .contact{
        width:100%;
        padding-inline:10em;
        display:flex;
        justify-content:space-between;
        align-items:center;
        
     }
}